TEST_SITE_NAME=dfp-v16.test
TEST_DB_PASSWORD=GENERATE_WITH_OPENSSL_RAND_HEX_32
TEST_ADMIN_PASSWORD=GENERATE_WITH_OPENSSL_RAND_HEX_32
TEST_S3_ACCESS_KEY=GENERATE_WITH_OPENSSL_RAND_HEX_16
TEST_S3_SECRET_KEY=GENERATE_WITH_OPENSSL_RAND_HEX_32
